#ai-icon {
    position: absolute;
    bottom: 5px;
    cursor: pointer;
    font-size: 18px;
    z-index: 9999;
}

#ai-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    overflow: hidden;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    color: black;
    width: 60%;
    max-width: 60%;
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
    box-sizing: border-box;
    font-size: medium;
    font-family: sans-serif;
}

.modal-heading {
    text-align: center;
    color: black;
    font-size: x-large;
    font-weight: 500;
}

.query-input {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    /* border: 1px solid rgb(4, 9, 110); */
}

#command-input {
    width: 82%;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    color: black;
}

#command-input:focus {
    outline: none;
}

#generate-btn,
#regenerate-btn,
#insert-btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    font-size: medium;
}

#response-area .res-query,
#response-area .res {
    color: rgb(249, 255, 249);
    width: fit-content;
    margin: 4px 0px;
    padding: 1px 18px;
    line-height: 30px;
    border-radius: 15px;
    background-color: #4b51ff;
    /* border: 1px solid rgb(81, 81, 81); */
}

#response-area .res {
    position: relative;
    color: rgba(47, 47, 47, 0.917);
    background-color: rgb(85, 255, 210);
}

#copy-btn {
    border: 1px solid rgb(6, 14, 37);
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 10px;
    padding: 1px 8px;
    cursor: pointer;
    font-size: small;
}